<div class="fossil-controls">
  <button class="btn btn-main" (click)="showSellFossils()">Post Selling Fossil Ad</button>
  <button class="btn btn-main" (click)="showBuyFossils()">Post Buying Fossil Ad</button>
  <button class="btn btn-main" (click)="showDeleteFossils()">Delete Fossil Ad</button>
  <button class="btn btn-main" (click)="showUpdateOwnedFossils()">Update Fossils you own</button>
</div>
<div class="fossil-contents">
  <div class="fossil-tabs">
    <button
      [ngClass]="{'fossil-tab': true, 'active': !showAds}"
      [disabled]="!showAds"
      (click)="swapTabs()"
    >Fossils Owned</button>
    <button
      [ngClass]="{'fossil-tab': true, 'active': showAds}"
      [disabled]="showAds"
      (click)="swapTabs()"
    >Fossil Ads</button>
  </div>
  <div class="fossil-tab-contents">
    <div *ngIf="showAds;else ownedFossils" class="fossil-ads">
      <p>this is for the fossil ads</p>
    </div>
    <ng-template #ownedFossils>
      <div *ngFor="let fossil of fossilList" class="owned-fossils">
        <div class="fossil-name">{{ fossil.name }}</div>
        <div class="fossil-parts">
          <div *ngFor="let part of fossil.parts" class="fossil-part">
            <div class="part-name"><label for="{{ part.id }}">{{ part.part }}</label></div>
            <div class="owns-part"><input id="{{ part.id }}" type="checkbox"/></div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<ac-modal *ngIf="showModal">
  <div class="fossil-request-submission">
    <p>I said coming soon, chill the fuck out.</p>
    <button class="btn btn-main btn-slim" (click)="toggleModal()">hoot hoot.</button>
  </div>
</ac-modal>
