@import '../../../assets/variables';

.ac-modal-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  .ac-modal {
    min-width: 300px;
    min-height: 200px;
    border: 1px solid $ac-light-brown;
    border-radius: 40px;
    padding: 40px;
    background: $ac-light-brown;
    color: $ac-brown;
  }
}
