
$ac-light-brown: #f8f8f0;
$ac-light-green: #e9f4ec;
$ac-brown: #6b5c43;
$ac-white: #fff;
$ac-yellow: #f1e26f;
$ac-green: #19ad5e;
$ac-red: #eb7175;

$main-background: $ac-light-brown;
$main-text: $ac-brown;
$secondary-text: $ac-white;
