/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

// text
p {
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
