@import '~bootstrap/dist/css/bootstrap.css';
@import './assets/variables';

body {
  color: $ac-brown;
  background-color: $ac-light-brown;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//buttons
.btn-main {
  padding: 16px 26px;
  background-color: $ac-brown;
  color: $ac-white;
  border: 1px $ac-brown solid;
  margin: 6px 10px;
}

.btn-main-slim {
  padding: 4px 16px;
}
