@import '~bootstrap/dist/css/bootstrap.css';

$backgroundColor: #e9f4ec;
$textColor: #6b5c43;
$inverseTextColor: #fff;

p {
  color: $textColor;
  font-size: 14px;
  line-height: 1.5;
}
h1 {
  color: $textColor;
}
h2 {
  color: $textColor;
}
h3 {
  color: $textColor;
}
h4 {
  color: $textColor;
}
h5 {
  color: $textColor;
}
h6 {
  color: $textColor;
}

body {
  background-color: $backgroundColor;
  font-family: sans-serif;
}

//buttons
.btn-main {
  padding: 20px 25px;
  background-color: $textColor;
  color: $inverseTextColor;
  border: 1px $textColor solid;
}
